.logo {
    font-size: 24px;
    color: #3d3782;
}

.logo-name {
    font-weight: 700;
    font-size: 18px;
    padding-top: 8px;
}
.sign-btn{
    background: #665ddd;
    color: white;
    font-size: 15px;
    font-weight: 600;
}
.login-btn{
    color: #746e94;
    font-size: 15px;
    font-weight: 600; 
    border: 2px solid #edecf1;
}

.nav-items-box {
    padding: 5px 15px 5px 15px;
    font-weight: 600;
    background-color: #e8e5f6;
    border-radius: 3px;
    color: #a196e2 !important;
}

.nav-items-box1{
    padding: 9px 15px 9px 15px;
    font-weight: 600;
}
.nav-items-box1:hover{
    font-weight: 600;
    background-color: #e8e5f6 !important;
    border-radius: 3px;
    color: #a196e2 !important;
}
.nav-items-box1:hover{

    background-color: #9694a0;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    display: none;
}